<p>
<label id="labelCpu">Select CPU: </label>
<select name="SelectCpu" id="SelectCpu">
	<option>AMD Phenom x6 2.4</option>
	<option>AMD Phenom x6 2.2</option>
	<option>AMD Phenom x4 3.2</option>
	<option>AMD Phenom x4 3.0</option>
	<option>AMD Phenom x3 2.8</option>
	<option>Intel i7 9600</option>
	<option>Intel i7 9400</option>
	<option>Intel i5 8400</option>
	<option>Intel i5 8200</option>
	<option>Intel i3 6200</option>

</select>
</p>

<p>
<label id="labelRam">Select RAM: </label>
<select name="SelectRam" id="SelectRam">
	<option>16gb 4x4gb</option>
	<option>8gb 1x8</option>
	<option>8gb 2x4</option>
	<option>8gb 4x2</option>
	<option>6gb 1x4 1x2</option>
	<option>4gb 1x4</option>
	<option>4gb 2x2</option>
</select>
</p>

<p>
<label id="labelVideo">Select Video Card: </label>
<select name="SelectVideo" id="SelectVideo">
	<option>2xAMD RadeonHD 6990 CrossFire</option>
	<option>AMD RadeonHD 6990</option>
	<option>AMD RadeonHD 6950</option>
	<option>AMD RadeonHD 6770</option>
	<option>2xNVIDIA GTX 590 SLI</option>
	<option>NVIDIA GTX 590</option>
	<option>NVIDIA GTX 580</option>
	<option>NVIDIA GTX 560 Ti</option>
</select>
</p>

<p>
<label id="labelHdd">Select HDD: </label>
<select name="SelectHdd" id="SelectHdd">
	<option>2x1tb 7200 rpm RAID 0</option>
	<option>2x1tb 7200 rpm RAID 1</option>
	<option>2x1tb 7200 rpm</option>
	<option>1tb 7200</option>
	<option>500gb 10000 rpm</option>
	<option>250gb 10000 rpm</option>
	<option>128gb 10000 rpm</option>
	<option>256gb SSD</option>
	<option>128gb SSD</option>
</select>
</p>
<p>
<%= link_to pc1 %>
</p>
<label id="labelFooterSubmit">Submit Order:</label>
<input type="submit" value="Submit"/>