<h3>Customer login:</h3>
<p>
	<label>User Name:
		<input type="text" name="user_name"/>
	</label>
</p>
<p>
	<label>Password:
		<input type="text" name="password"/>
	</label>
</p>
<p>
	<input type="submit">
</p>
<p>
	<%= link_to "Accounts are created during order placement", root_path %>
</p>
