<h3>Open orders:</h3>

<% if signed_in? %>
<h1 class="micropost">What's up?</h1>
<%= render 'shared/openorders' %>
<% else %>You are not signed in. 
<%= link_to "Sign In", submit_path, :class => "signup_button round" %>
<% end %>
