<h3>Open orders:</h3>

<% if signed_in? %>
<h1>Signed In Successfully</h1>
<%= render 'shared/openorders' %>
<% else %>You are not signed in. 
<%= link_to "Sign In", signin_path, :class => "signup_button round" %>
<% end %>
